.advantages {
    padding: 24px;
    background: url(../assets/img/adv-bcg.png);

    &__wrapper {
        background-color: #ffffff;
        border-radius: 16px;
        padding: 57px 40px;
        display: flex;
        flex-direction: column;
    }

    &__header {
        text-align: center;
        font-size: 32px;
        font-weight: 900;
        line-height: 46px;
        margin-top: 0;
        margin-bottom: 55px;
    }

    &__list {
        @include list-reset;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px 33px;
    }

    &__item {
        padding-left: 64px;
        line-height: 22px;
        background-repeat: no-repeat;

        &:nth-child(1) {
            background-image: url(../assets/img/ice-cream.svg);
        }

        &:nth-child(2) {
            background-image: url(../assets/img/cow.svg);
        }

        &:nth-child(3) {
            background-image: url(../assets/img/leaf.svg);
        }

        &:nth-child(4) {
            background-image: url(../assets/img/thermometer.svg);
        }
    }
}