.button {
    border-radius: 25px;
    padding: 12px 32px;
    border: none;
    outline: 4px solid rgba(255, 255, 255, 0.4);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
        opacity: 0.7;
    }

    &--red {
        color: #ffffff;
        border-radius: 26px;
        outline: 4px solid rgba(255, 47, 100, 0.30);
        background: #FF2F64;
    }

}