.sec-nav {
    display: flex;
    align-items: center;
    gap: 15px;

    &__link {
        color: $text-font-color;
    }

    &--phone {
        font-weight: 700;
    }

    &__search-form {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.4);
        background-image: url(../assets/img/search.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
    }

    &__search-field {
        display: none;
    }

    &--login,
    &--cart {
        font-size: 14px;
        padding: 6px 17px;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 30px;
        display: flex;
        gap: 6px;
    }
}